<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="FacebookAppId" value="293862937711938" />
  <add key="FacebookAppSecret" value="9891ca26efb65ca2f60b357f0dddf696" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
